@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');

.client__card {
    background-color: #DD83FF;
    width: 120px;
    padding: 0;
    margin: 0;
    border-radius: 15%;
    text-align: center;
}

.clients__fname, .clients__lname, .clients__adress, .clients__phn {
    font-family: 'Walter Turncoat', cursive;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.clients__adress, .clients__phn {
    font-size: 18px;
}